.body{
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

img{
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}

.header-container{
    display: flex;
    align-items: center;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-header{
    display: flex;
    align-items: center;
}

.header{
        background: #fff;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        margin-right: 76px;
}

.header-logo-part{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav-menu-list{
        list-style-type: none;
}

.list-text.current{
    position: relative;
    color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
}

.nav-menu-list :hover{
    color: #404bbf;
}

.nav-menu-list :focus{
    color: #404bbf;
}

.list-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        border: none;
        text-decoration: none;
        padding-top: 24px;
            padding-bottom: 24px;
            display: inline-block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav{
    font-style: normal;
    margin-left: auto;
}

.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list :hover{
    color: #404bbf;
}

.contacts-list :focus{
    color: #404bbf;
}

.contacts-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        border: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero{
    max-width: 1440px;
    margin: 0 auto;
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}

.hero-title{
    font-weight: 700;
    max-width: 496px;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}

.btn {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 150%;
        border: none;
        letter-spacing: 0.04em;
        border-radius: 4px;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            white-space: nowrap;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #4d5ae5;
    cursor: pointer;
    margin: 0 auto;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover{
    background-color: #404bbf;
}

.btn:focus{
    background-color: #404bbf;
}

.experience{
    padding-top: 120px;
    padding-bottom: 120px;
}

.experience-menu{
    display: flex;
    gap: 24px;
    padding-left: 0;
}

.experience-items{
    list-style-type: none;
    margin-right: 0;
    width: calc((100% - 72px)/4);
}

.container-icons-exp{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
}

.title-exp{
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.text-exp{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.container-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-team{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        display: flex;
        margin-bottom: 72px;
}

.information-team{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.team-items{
    list-style-type: none;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}

.text-team{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
}

.name-container{
    padding-top: 32px;
    padding-bottom: 32px;
}

.list-icons-team{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.li-icons-team{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    list-style-type: none;
}

.team-link-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition-duration: 250ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icons:hover{
    background-color: #404bbf;
}

.team-link-icons:focus {
    background-color: #404bbf;
}

.icons-team{
    fill: #f4f4fd;
}

.portfolio{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-information{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-items{
    list-style-type: none;
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-items{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.content-port{
    padding: 32px 16px;
    border-top: 0;
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc
}

.text-portfolio{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.container-port {
position: relative;
overflow: hidden;
}

.project-card {
    position: absolute;
        top: 0;
    font-size: 16px;
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background: #4d5ae5;
        height: 100%;
        left: 0;
       padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .project-card{
    transform: translate(0);
}

.portfolio-items:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
            margin-bottom: 16px;
            display: inline-block;
}

.footer{
        background: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
}

.footer-logo-part{
    color: #f4f4fd;
    display: inline-block;
}

.footer-text{
    width: 264px;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.container-logo{
    margin-right: 120px;
}

.footer-container{
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.li-icons-footer{
    width: 40px;
    height: 40px;
    list-style-type: none;
}

.list-icons-footer{
    display: flex;
    gap: 16px;
}

.footer-link-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition-duration: 250ms;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icons:hover{
    background-color: #31d0aa;
}

.footer-link-icons:focus{
    background-color: #31d0aa;
}

.footer-icons{
    fill: #f4f4fd;
}

.icons-text{
    font-weight: 500;
    font-size: 16px;
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

